<div class="container debug">

  <h1 class="text-center mt-5">TO-DO</h1>

  <div class="row mt-4 debug">
    <div class="col-10">
      <input id="input_content" type="text" class="form-control" placeholder="しなければならないことを書いてください">
    </div>  
    <div class="col-2 text-center">
      <button 
        type="button" 
        class="btn btn-secondary w-100"
        onclick="createTodo()"
      >
        書く
      </button>
    </div>
  </div>

  <div class="todo-list mt-4">

    <% for item in @contents %>
      <div class="todo-item row mt-3 debug">
        <div class="col-8">
          <%= item.content %>
        </div>
        <div class="col-2 text-center">
          <%= item.created_at %>
        </div>
        <div class="col-1 text-center">
          <button 
            type="button" 
            class="btn btn-danger"
            onclick="deleteTodo(<%= item.id %>)"
          >
            削除
          </button>
        </div>
        <div class="col-1 text-center">
          <button 
            type="button" 
            class="btn btn-success"
          >
            完了
          </button>
        </div>
      </div>
    <% end %>

  </div>
</div>

<script>
  function createTodo() {
    var input_content = $('#input_content').val();
    var url = '/api/v1/create/todo';
    var param = {
      input_content: input_content
    }
    $.post(url, param)
    .done(function(data) {
      if (data.code === 200) {
        location.reload();
      } else {
        alert(data.msg);
      }
    });
  }

  function deleteTodo(todo_id) {
    var url = '/api/v1/delete/todo';
    var param = {
      todo_id: todo_id
    }
    $.post(url, param)
    .done(function(data) {
      if (data.code === 200) {
        location.reload();
      } else {
        alert(data.msg);
      }
    });
  }
</script>