<div class="container debug">

  <h1 class="text-center mt-5">TO DO リスト</h1>
  <div class="text-center sub-title">
    開発勉強のため必要な技術を使いました
  </div>

  <div class="row mt-4 debug">
    <div class="col-8 col-sm-10">
      <input id="input_content" type="text" class="form-control" placeholder="しなければならないことを書いてください">
    </div>  
    <div class="col-4 col-sm-2 text-center">
      <button 
        type="button" 
        class="btn btn-outline-primary w-100"
        onclick="createTodo()"
      >
        書く
      </button>
    </div>
  </div>

  <div id="todo_list" class="todo-list mt-4">
  </div>
  
</div>

<script>
  $(document).ready(function(){
    // enter key bind
    $('#input_content').keypress(function(event){
      var keycode = (event.keyCode ? event.keyCode : event.which);
      if(keycode == '13'){
        createTodo();
      }
    });

    // init function
    readTodo();
  });

  function strToDateFormat(date){
    var date = new Date(date);
    var Y = date.getFullYear()
    var M = ("00" + (date.getMonth()+1)).slice(-2)
    var D = ("00" + date.getDate()).slice(-2)
    var h = ("00" + date.getHours()).slice(-2)
    var m = ("00" + date.getMinutes()).slice(-2)
    var s = ("00" + date.getSeconds()).slice(-2)

    return `${Y}.${M}.${D} ${h}:${m}`
    // return Y + M + D + h + m + s
  }

  function readTodo() {
    $('#todo_list').empty();

    var url = '/api/v1/read/todo';
    var param = {}
    $.get(url, param)
    .done(function(data) {
      if (data.code === 200) {
        var data = data.data;
        data.forEach(el => {
          var created_at = strToDateFormat(el.created_at);

          if (el.complete_yn === 'Y') {
            var complete_btn = ''
          } else {
            // back quote - IE not support
            var complete_btn = `
              <button 
                type="button" 
                class="btn btn-outline-success w-100 mt-lg-0 mt-2"
                onclick="updateTodo(${el.id})"
              >
                完了
              </button>
            `
          }
          
          // back quote - IE not support
          var item = `
            <div class="todo-item row mt-3 debug">
              <div class="col-lg-8">
                ${el.content}
              </div>
              <div class="col-lg-2 text-center mt-lg-0 mt-3">
                ${created_at}
              </div>
              <div class="col-lg-1 text-center">
                <button 
                  type="button" 
                  class="btn btn-outline-danger w-100 mt-lg-0 mt-3"
                  onclick="deleteTodo(${el.id})"
                >
                  削除
                </button>
              </div>
              <div class="col-lg-1 text-center">
                ${complete_btn}
              </div>
            </div>
          `
          $('#todo_list').append(item);
        });
      }
    });
  }

  function formInit() {
    $('#input_content').val('');
  }

  function createTodo() {
    var input_content = $('#input_content').val();
    var url = '/api/v1/create/todo';
    var param = {
      input_content: input_content
    }
    $.post(url, param)
    .done(function(data) {
      if (data.code === 200) {
        readTodo();
        formInit();
      } else {
        alert(data.msg);
      }
    });
  }

  function deleteTodo(todo_id) {
    var url = '/api/v1/delete/todo';
    var param = {
      todo_id: todo_id
    }
    $.post(url, param)
    .done(function(data) {
      if (data.code === 200) {
        readTodo();
      } else {
        alert(data.msg);
      }
    });
  }

  function updateTodo(todo_id) {
    var url = '/api/v1/update/todo';
    var param = {
      todo_id: todo_id
    }
    $.post(url, param)
    .done(function(data) {
      if (data.code === 200) {
        readTodo();
      } else {
        alert(data.msg);
      }
    });
  }
</script>