<div class="container debug">

  <h1 class="text-center mt-5">TO-DO</h1>

  <div class="row mt-4 debug">
    <div class="col-10">
      <input type="text" class="form-control" placeholder="しなければならないことを書いてください">
    </div>  
    <div class="col-2 text-center">
      <button type="button" class="btn btn-secondary w-100">書く</button>
    </div>
  </div>

  <div class="todo-list mt-4">

    <div class="todo-item row mt-3 debug">
      <div class="col-8">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius facilis in molestiae quod! Aut doloribus est illum iure porro sunt. Eius illo iusto maxime nihil possimus quae tempora voluptas voluptates.
      </div>
      <div class="col-2 text-center">
        2021.01.07 00:25
      </div>
      <div class="col-1 text-center">
        <button type="button" class="btn btn-danger">削除</button>
      </div>
      <div class="col-1 text-center">
        <button type="button" class="btn btn-success">完了</button>
      </div>
    </div>

    <div class="todo-item row mt-3 debug">
      <div class="col-8">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius facilis in molestiae quod! Aut doloribus est illum iure porro sunt. Eius illo iusto maxime nihil possimus quae tempora voluptas voluptates.
      </div>
      <div class="col-2 text-center">
        2021.01.07 00:25
      </div>
      <div class="col-1 text-center">
        <button type="button" class="btn btn-danger">削除</button>
      </div>
      <div class="col-1 text-center">
        <button type="button" class="btn btn-success">完了</button>
      </div>
    </div>

  </div>
</div>