<h1>rails playground</h1>

<h5><%= @key %></h5>


<h3>jquery test</h3>

<p id="hoge">change red</p>

<button onclick="test1()">test1</button>
<button onclick="test2()">test2</button>
<button onclick="test3()">test3</button>
<button onclick="test4()">test4</button>

<h1>slick</h1>

<div class="single-item">
  <div><h3>1</h3></div>
  <div><h3>2</h3></div>
  <div><h3>3</h3></div>
  <div><h3>4</h3></div>
  <div><h3>5</h3></div>
  <div><h3>6</h3></div>
</div>

<script>
  $('.single-item').slick();

  $("#hoge").css("color","red")

  function test1() {
    toastr.info('Are you the 6 fingered man?')
  }

  function test2() {
    toastr.warning('Are you the 6 fingered man?')
  }

  function test3() {
    toastr.success('Are you the 6 fingered man?')
  }

  function test4() {
    toastr.error('Are you the 6 fingered man?')
  }
</script>