<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# css %>
    <link href="assets/bootstrap.css" rel="stylesheet">
    <link href="assets/style.css" rel="stylesheet">
    <link href="assets/toastr.min.css" rel="stylesheet">

    <%# js %>
    <script src="assets/jquery.min.js"></script>
    <script src="assets/bootstrap.js"></script>
    <script src="assets/toastr.min.js"></script>

    <!-- reference: https://github.com/CodeSeven/toastr -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
